USE [master]
GO
/****** Object:  Database [praksaDB]    Script Date: 8/12/2022 2:31:19 PM ******/
CREATE DATABASE [praksaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Recipes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Recipes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Recipes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Recipes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [praksaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [praksaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/12/2022 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/12/2022 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](255) NULL,
 CONSTRAINT [PK__category__79D361B63D12ACA6] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foodstuff]    Script Date: 8/12/2022 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foodstuff](
	[FoodstuffId] [int] IDENTITY(1,1) NOT NULL,
	[FoodstuffName] [varchar](50) NULL,
	[MeasurementId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodstuffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 8/12/2022 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[ingredientID] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [decimal](18, 0) NULL,
	[recipeID] [int] NULL,
	[foodstuffId] [int] NULL,
 CONSTRAINT [PK__Ingredie__3213E83F853F4AEA] PRIMARY KEY CLUSTERED 
(
	[ingredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementUnit]    Script Date: 8/12/2022 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementUnit](
	[MeasurementId] [int] IDENTITY(1,1) NOT NULL,
	[Measurement] [varchar](50) NULL,
	[Measurement_long] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasurementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 8/12/2022 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[recipeID] [int] IDENTITY(1,1) NOT NULL,
	[recipeTitle] [varchar](200) NULL,
	[imageUrl] [char](1000) NULL,
	[categoryID] [int] NULL,
	[recipePrice] [decimal](18, 0) NULL,
	[recipeDescription] [varchar](max) NULL,
 CONSTRAINT [PK__Recipes2__C114EE8326F65DBB] PRIMARY KEY CLUSTERED 
(
	[recipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 8/12/2022 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[StorageId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [decimal](18, 0) NOT NULL,
	[min_quantity] [decimal](18, 0) NOT NULL,
	[FoodstuffId] [int] NOT NULL,
	[under_min] [bit] NOT NULL,
 CONSTRAINT [PK__Storage__D1437CAA04FED46D] PRIMARY KEY CLUSTERED 
(
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage_input]    Script Date: 8/12/2022 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage_input](
	[StorageInputId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [decimal](18, 0) NOT NULL,
	[InputDate] [char](12) NOT NULL,
	[FoodstuffId] [int] NULL,
	[removeQuantity] [bit] NULL,
 CONSTRAINT [PK__storage___C36B0B61AE85BFBD] PRIMARY KEY CLUSTERED 
(
	[StorageInputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Storage] ADD  CONSTRAINT [DF_Storage_ispod_min]  DEFAULT ((1)) FOR [under_min]
GO
ALTER TABLE [dbo].[Foodstuff]  WITH CHECK ADD FOREIGN KEY([MeasurementId])
REFERENCES [dbo].[MeasurementUnit] ([MeasurementId])
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD FOREIGN KEY([foodstuffId])
REFERENCES [dbo].[Foodstuff] ([FoodstuffId])
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK__Ingredien__Recip__4CA06362] FOREIGN KEY([recipeID])
REFERENCES [dbo].[Recipes] ([recipeID])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK__Ingredien__Recip__4CA06362]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([categoryID])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_category]
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD  CONSTRAINT [FK__Storage__foodstu__73BA3083] FOREIGN KEY([FoodstuffId])
REFERENCES [dbo].[Foodstuff] ([FoodstuffId])
GO
ALTER TABLE [dbo].[Storage] CHECK CONSTRAINT [FK__Storage__foodstu__73BA3083]
GO
ALTER TABLE [dbo].[Storage_input]  WITH CHECK ADD  CONSTRAINT [FK__storage_e__foods__7A672E12] FOREIGN KEY([FoodstuffId])
REFERENCES [dbo].[Foodstuff] ([FoodstuffId])
GO
ALTER TABLE [dbo].[Storage_input] CHECK CONSTRAINT [FK__storage_e__foods__7A672E12]
GO
USE [master]
GO
